#pl-library {
  color:#555;
  background-color: #435fab;
  float:left;
  width:75%;
  height:100%;
}

#pl-search {
  float:left;
  width:25%;
  height:100%;
}

.box {
  display:flex;
  flex-flow:row;
  height:100%;
}
